body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-weight: 200;
    margin-top: 10px;
    color: white;
}

.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 3px -1px rgba(0,0,0,0.51); 
}

.circle1 {
    height: 500px;
    width: 500px;
    background-color: #37E2D5;
}

.circle2 {
    height: 400px;
    width: 400px;
    background-color: #590696;
    top: 50px;
    left: 50px;
}

.circle3 {
    height: 300px;
    width: 300px;
    background-color: #C70A80;
    top: 100px;
    left: 100px
}

.circle4 {
    height: 200px;
    width: 200px;
    background-color: #FBCB0A;
    top: 150px;
    left: 150px;
}

.scorebox {
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    background-color: #37E2D5;
    height: 80px;
    width: 80px;
    top: 210px;
    left: 210px;
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 10px;
}

.button {
    background-color: burlywood;
    color: #fff;
    border: 0px;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    top: 550px;
    position: relative;
    font-weight: 600;
    padding: 15px;
    -webkit-box-shadow: 7px 7px 3px -1px rgba(0,0,0,0.51); 
    box-shadow: 7px 7px 3px -1px rgba(0,0,0,0.51);
}

.light {
    opacity: 0.4;
}